body
{background-color:gray;
}

.wrapper
{
background-color:white;
max-width:960px;
margin:auto;
}
.banner
{
width:960px;
background-color:white;
height:100;
}
.nav
{
clear:both;
width:100%;
background-color:gray;
}

.body
{
position:relative; 
}

.footer
{
  clear: both;
  font-family: Tahoma, Arial, Helvetica, Sans-serif;
  font-size: 12px;
  color: #c9c9c9;
  border-top: 1px solid #efefef;
  padding: 10px 25px;
  line-height: 10px;
  background-color:#e0e0e0;
  text-align:center;
}

.leftnav
{
width:170px;
position:absolute;
top: 0px;  
right: 0px;  
font-size: 16px;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
font-weight: normal;
color: #0b90d6;	
padding-left:15px;
padding-right:5px;
}

.rightMenuList
{
border-bottom: 1px solid #efefef;
}

.rightmenuHeader
{
font-family: Tahoma, Arial, Helvetica, Sans-serif;
color: #4f5864;
}

.lefttext
{
font-size: 14px;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
color: #226688;	
}

.content
{
width:77%;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
margin-right:5px;
padding-left:15px;
padding-right:15px;
margin-top:25px;
border-right: 1px solid #efefef;
}

.menu
{
font-family: Tahoma, Arial, Helvetica, Sans-serif;
text-align:left;
color:#0097c5
}

.mainmenu
{
float:left;
width:956px;
padding:02px;
margin:0;
background-color:#226688;
}

.menutext
{
float:left;
width:158px;
text-decoration:none;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
text-align:center;
color:white;
background-color:#226688;
}

.menutext:hover 
{
 background-color:#7EA4DA;
}

.lefttext:hover {color:#1D2225;
}
.order {display:inline;}