body
{background-color:gray;
}

.wrapper
{
background-color:white;
width:960px;
margin:auto;
}
.banner
{

background-color:white;
}
.nav
{
clear:both;
width:960px;
background-color:gray;
}
.display
{
width:100%;
}
.body
{

width:100%;
}
.footer
{
  clear: both;
  font-family: Tahoma, Arial, Helvetica, Sans-serif;
  font-size: 12px;
  color: #c9c9c9;
  border-top: 1px solid #efefef;
  padding: 10px 25px;
  line-height: 10px;
  background-color:#e0e0e0;
  text-align:center;
}
.leftnav
{
float:left;
width:18%;
font-size: 16px;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
font-weight: normal;
color: #0b90d6;	
padding-left:5px;
}
.leftmenuHeader
{
font-family: Tahoma, Arial, Helvetica, Sans-serif;
color: #4f5864;
}
.lefttext
{
font-size: 14px;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
color: #226688;	
}

.content
{
float:right;
width:79%;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
margin-right:5px;
padding-left:5px;
border-left: 1px solid #efefef;
}

.menu
{
font-family: Tahoma, Arial, Helvetica, Sans-serif;
text-align:left;
color:#0097c5
}

.mainmenu
{
float:left;
width:956px;
padding:02px;
margin:0;
background-color:#226688;
}
.menutext
{
float:left;
width:158px;
text-decoration:none;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
text-align:center;
color:white;
background-color:#226688;
}
.menutext:hover {background-color:#7EA4DA;
}

.lefttext:hover {color:#1D2225;
}
.order {display:inline;}
